html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0d7d7;
}
.nav {
  font-size: 1.3rem;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  text-align: center;
}
.navbar-collapse {
  justify-content: end;
}
.greeting {
  text-align: center;
  background-color: #ffec3e;
}
.titulo {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: black !important;
  text-shadow: 2px 4px 2px white;
}
.botonMasMenos {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
}
.blockquote {
  min-width: 30vw !important;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  height: 15vh;
  background-color: #ffec3e;
}
.mx-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carritoTitulo {
  margin-left: auto;
  margin-right: auto;
}
.carritoCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  margin: 10px;
  border-bottom: 1px solid rgb(126, 120, 120);
}
.carritoCard > img {
  width: 15%;
  margin-bottom: 10px;
}
.carritoContenedor {
  background-color: #ffff72;
  margin: 10px;
  border-radius: 33px;
  background: #f1f36d;
  box-shadow: 8px 8px 16px #7b7b7b, -8px -8px 16px #ffffff;
}
.CarritoBoton {
  border-radius: 5px;
  padding: 2px 5px;
  background-color: #fbc02d;
  margin: 20px;
  font-weight: 600;
  border-color: aliceblue;
}
.botonCarritoVolver {
  border-radius: 8px;
  padding: 3px 10px;
  background-color: #fbc02d;
  margin: 20px;
  font-weight: 600;
  border-color: aliceblue;
}
.CarritoBoton:hover {
  background-color: #c17900;
  color: aliceblue;
}
.h4CarritoVolver {
  margin: 20px;
}
.carritoContenedor > img {
  max-width: 100px;
}
.nombre {
  width: 30%;
}
.Precio,
.Cantidad {
  width: 20%;
}
.buttonDelete {
  border-radius: 50%;
  padding: 5px;
  border: none;
  box-shadow: 3px 3px 5px #7b7b7b;
}
.btnFooter {
  font-weight: 600;
  font-size: 1.3rem;
  color: black !important;
}
.btnFooter:hover {
  font-weight: 700;
}
.marcasTitulo {
  text-align: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #fbc02d;
}
.marcasContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem;
  background-color: #ebebeb;
}
.registro,
.crearCuenta {
  display: flex;
  background-color: #ededed;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.registroTitle {
  text-align: center;
}
.registroButton {
  color: #000000 !important;
}
